Repository RebeccaStevens/satisfactory-minmax: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: overide/add method types for global objects
  typings/es.d.mts
Due: prettier --write, eslint --fix

chore: add the raw game data
  data/game-data.json
Due: none

chore: add the game map data
  data/map.json
Due: none

feat: parse all the data into a state where it can then be analyzed
  .eslintrc.json
  src/data/game/index.mts
  src/data/game/items/immutable-types.mts
  src/data/game/items/index.mts
  src/data/game/items/other.mts
  src/data/game/items/parse.mts
  src/data/game/items/raw-types.mts
  src/data/game/items/types.mts
  src/data/game/machines/immutable-types.mts
  src/data/game/machines/index.mts
  src/data/game/machines/parse.mts
  src/data/game/machines/raw-types.mts
  src/data/game/machines/typegaurds.mts
  src/data/game/machines/types.mts
  src/data/game/raw-collection-parser.mts
  src/data/game/raw-types.mts
  src/data/game/recipes/immutable-types.mts
  src/data/game/recipes/index.mts
  src/data/game/recipes/parse.mts
  src/data/game/recipes/raw-types.mts
  src/data/game/recipes/types.mts
  src/data/game/utils.mts
  src/data/immutable-types.mts
  src/data/index.mts
  src/data/map/immutable-types.mts
  src/data/map/index.mts
  src/data/map/types.mts
  src/data/map/utils.mts
  src/data/types.mts
Due: prettier --write, eslint --fix

feat: add basic types
  src/immutable-types.mts
  src/types.mts
Due: prettier --write, eslint --fix

feat: add utility functions
  src/utils.mts
Due: prettier --write, eslint --fix

feat: analyse the data
  src/index.mts
  src/solver/applied-recipes.mts
  src/solver/constants.mts
  src/solver/index.mts
  src/solver/lp/generate.mts
  src/solver/lp/index.mts
  src/solver/utils.mts
Due: prettier --write, eslint --fix

ci: use node 17
  .github/workflows/ci.yml
Due: prettier --write

fix: fix typo
  .cspell.json
  src/solver/applied-recipes.mts
Due: prettier --write, eslint --fix

chore: check spelling before committing
  .husky/pre-commit
Due: none

fix: recipes in a variable power manufacturing machine now calculate right average power consumption
  src/solver/applied-recipes.mts
  src/solver/utils.mts
Due: prettier --write, eslint --fix

fix: the return type of the isRawManufacturingMachine typeguard
  src/data/game/machines/raw-types.mts
Due: prettier --write, eslint --fix

refactor: switch to using immutable versions of applied recipes
  src/solver/applied-recipes.mts
Due: prettier --write, eslint --fix

refactor: tidy up type usage
  src/data/game/machines/parse.mts
  src/data/game/recipes/index.mts
Due: prettier --write, eslint --fix

fix: add canChangePotential to machines
  src/data/game/machines/parse.mts
  src/data/game/machines/types.mts
  src/solver/utils.mts
Due: prettier --write, eslint --fix

feat: apply geothermal constrants
  src/solver/lp/generate.mts
Due: prettier --write, eslint --fix

feat: add support for geothermal power
  src/data/game/machines/immutable-types.mts
  src/data/game/machines/parse.mts
  src/data/game/machines/raw-types.mts
  src/data/game/machines/types.mts
  src/data/game/recipes/immutable-types.mts
  src/data/game/recipes/types.mts
Due: prettier --write, eslint --fix

feat: apply geothermal recipes
  src/solver/applied-recipes.mts
  src/solver/utils.mts
Due: prettier --write, eslint --fix

feat: only allow 1 item to maximize and allow forcing excess power
  src/solver/index.mts
  src/solver/lp/generate.mts
  src/solver/lp/index.mts
Due: prettier --write, eslint --fix

refactor: entry of program
  src/analyse/index.mts
  src/index.mts
  src/solver/index.mts
Due: prettier --write, eslint --fix

fix: remove canBeProducedIn from applied recipes
  src/data/game/recipes/immutable-types.mts
  src/data/game/recipes/types.mts
  src/solver/applied-recipes.mts
Due: prettier --write, eslint --fix

feat: improved resutls output
  src/analyse/index.mts
  src/index.mts
Due: prettier --write, eslint --fix

fix: typing of getRecipesBy_X_Item
  src/solver/utils.mts
Due: prettier --write, eslint --fix

refactor: switch to asserting not undefined
  src/solver/lp/generate.mts
Due: prettier --write, eslint --fix

feat: tweaks
  src/analyse/index.mts
  src/index.mts
  src/solver/applied-recipes.mts
  src/solver/index.mts
  src/solver/lp/generate.mts
  src/solver/lp/index.mts
Due: prettier --write, eslint --fix

build: update deps
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

refactor: switch to iter-ops over iterare
  .yarn/patches/iter-ops-npm-1.6.2-f9e49c46a8.patch
  package.json
  src/analyse/index.mts
  src/data/game/index.mts
  src/data/game/machines/parse.mts
  src/data/game/recipes/parse.mts
  src/data/map/index.mts
  src/index.mts
  src/solver/applied-recipes.mts
  src/solver/lp/generate.mts
  src/solver/utils.mts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update repo stuff
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labels.yml
  .github/renovate.json
  DONATIONS.md
Due: prettier --write

chore: update deps
  .yarn/patches/iter-ops-npm-1.6.2-f9e49c46a8.patch
  package.json
  yarn.lock
Due: none

fix: update for update 6
  src/data/game/items/parse.mts
Due: prettier --write, eslint --fix

refactor: improve readonly type defs
  src/immutable-types.mts
Due: prettier --write, eslint --fix

ci: update
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

refactor: remove immutable types
  src/analyse/index.mts
  src/data/game/index.mts
  src/data/game/items/immutable-types.mts
  src/data/game/items/index.mts
  src/data/game/items/parse.mts
  src/data/game/machines/immutable-types.mts
  src/data/game/machines/index.mts
  src/data/game/machines/parse.mts
  src/data/game/machines/typegaurds.mts
  src/data/game/machines/types.mts
  src/data/game/recipes/immutable-types.mts
  src/data/game/recipes/index.mts
  src/data/game/recipes/parse.mts
  src/data/game/recipes/types.mts
  src/data/immutable-types.mts
  src/data/index.mts
  src/data/map/immutable-types.mts
  src/data/map/index.mts
  src/data/types.mts
  src/index.mts
  src/solver/applied-recipes.mts
  src/solver/index.mts
  src/solver/lp/generate.mts
  src/solver/lp/index.mts
  src/solver/utils.mts
  src/types.mts
Due: prettier --write, eslint --fix

refactor: make parameters Immutable
  .eslintrc.json
  package.json
  src/analyse/index.mts
  src/data/game/machines/parse.mts
  src/data/game/machines/typegaurds.mts
  src/data/game/utils.mts
  src/data/map/index.mts
  src/immutable-types.mts
  src/solver/applied-recipes.mts
  src/solver/index.mts
  src/solver/lp/generate.mts
  src/solver/lp/index.mts
  src/solver/utils.mts
  yarn.lock
Due: prettier --write, eslint --fix

refactor: "utf-8" => "utf8"
  src/solver/lp/index.mts
Due: prettier --write, eslint --fix

chore: deps update
  package.json
  yarn.lock
Due: none

fix: add missing AppliedRecipe
  src/data/game/recipes/types.mts
Due: prettier --write, eslint --fix

style: update linting
  .eslintrc.json
  package.json
  yarn.lock
Due: none

refactor: update deps and improve immutabilty use
  .eslintrc.json
  package.json
  src/data/game/index.mts
  src/data/game/items/parse.mts
  src/data/game/items/raw-types.mts
  src/data/game/machines/parse.mts
  src/data/game/machines/raw-types.mts
  src/data/game/raw-types.mts
  src/data/game/recipes/parse.mts
  src/data/game/recipes/raw-types.mts
  src/data/game/utils.mts
  src/solver/applied-recipes.mts
  src/solver/lp/generate.mts
  yarn.lock
Due: prettier --write, eslint --fix

feat: allow setting overclocks per recipe
  src/index.mts
  src/solver/applied-recipes.mts
  src/solver/index.mts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: ./**/*.{md,yml}) or (any of: ./**/*.{ts,mts})
  eslint --fix: any of: ./**/*.{ts,mts}
